<%- include('adminSidebar')%>




  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Search</h4>

              <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <%for(let search of result){%>
                <div class="col">
                  <div class="card h-100">
                    <img class="card-img-top" src="<%=search.thumbnail%>" alt="Card image cap" />
                    <div class="card-body">
                      <h5 class="card-title"><%=search.name%></h5>
                      <p class="card-text">
                        <%= search.description%>
                      </p>
                    </div>
                  </div>
                </div>
                <%}%>
              </div>

              <ul class="pagination" style="justify-content: center">
                <%for(let i=1; i<=pagination; i++){%>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%= i%>&search=<%=search%>"><%=i%></a>
                  </li>
                  <%}%>
              </ul>


    </div>

    <!-- / Content -->
    <%- include('adminFooter')%>